<div class="w-50 mx-auto">
    <h2 class="text-center">Đổi mật khẩu</h2>
    <% if (msgError.length) { %>
      <div class="alert alert-danger mt-2"><%= msgError %></div>
    <% } %>
    <% if (msgSuccess.length) { %>
      <div class="alert alert-success mt-2"><%= msgSuccess %></div>
    <% } %>
    <form action="" method="post">
      <div class="mb-3">
        <label for="">Mật khẩu cũ</label>
        <input
          type="password"
          name="oldPassword"
          class="form-control"
          placeholder="Mật khẩu cũ..."
          value="<%= req.old.oldPassword %>"
        />
        <span class="text-danger"><%= req.errors.password %></span>
        <span class="text-danger"><%= req.errors.password %></span>
      </div>

      <div class="mb-3">
        <label for="">Mật khẩu mới</label>
        <input
          type="password"
          name="newPassword"
          class="form-control"
          placeholder="Mật khẩu mới..."
          value="<%= req.old.newPassword %>"
        />
        <span class="text-danger"><%= req.errors.newPassword %></span>
      </div>

      <div class="mb-3">
        <label for="">Nhập lại mật khẩu mới</label>
        <input
          type="password"
          name="reTypePassword"
          class="form-control"
          placeholder="Nhập lại mật khẩu mới..."
          value="<%= req.old.reTypePassword %>"
        />
        <span class="text-danger"><%= req.errors.reTypePassword %></span>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
      </div>
    </form>


  </div>